!_templates/
!hygen-create.json
.nuxt/
.next/
assets/
components/
layouts/
middleware/
node_modules/
pages/
plugins/
server/
static/
store/
test/
/package.json
/env.jsonjest.config.js
/package-lock.json
/jest.config.js
/nuxt.config.js
env.json
package.json
*.md
.history/
public/
lib/
.babelrc